*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;

}
/******** HEADER ********/
header{
    min-height: 50px;
    /* background-color: brown; */
    padding: 0 15px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
button{
    border: none;
    color: #dad0c3;
}
.view{
    display: inline-block;
    border-radius: 5px;
    background-color: #4a4a4a;
    padding: 5px 5px;
}

.arrow{
    display: inline-block;
    border-radius: 5px;
    background-color: #4a4a4a;
    padding: 5px 5px;
    margin-left: 10px;
}
/******** / HEADER ********/

/******** MAIN ********/
main{
    margin:10px 20px;
}

.user-container{
    display: flex;
    flex-wrap: wrap;
    padding: 4px 125px;
    }

.user{
    width: calc(100% / 7 - 5px);
    position: relative;
    margin: 0 5px 10px 0;
    height: 149px;
}
.user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name{
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    background-color: rgba(98, 111, 124, 0.5);
    padding: 5px 2px;
}
/******** / MAIN ********/
/******** FOOTER ********/
footer>*{

    width: calc(100% / 3);
}

footer{
    /* padding: 10px 0; */
    height: 64px;
    background-color: #222222;
    display: flex;
}
.video{
    display: flex;
    position: relative;
}

.button-video{
    font-size: 25px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;

}

.arrow-footer-micr{
    font-size: 15px;
    color: white;
    position: absolute;
    top: 20px;
    left: 70px;
}

.arrow-footer-video{
    font-size: 15px;
    color: white;
    position: absolute;
    top: 20px;
    left: 165px;
}
.text{
    font-size: 13px;
    padding-top: 7px;
}


.center-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%
}


.share-green{
    color:#39be02;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background-color: #222222;
    display: flex;
    margin-left: 30px;
    padding: 0 10px;
    flex-direction: column;
}
.button-user{
    font-size: 25px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    padding: 0 10px;
}

.arrow-footer-screen{
    font-size: 15px;
    color: white;
    
}

.text{
    font-size: 13px;
    padding-top: 7px;
   color: white;
   align-self: baseline;

}

.right-footer{
    display: flex;
    justify-content: flex-end;
}

.button-footer-right{
    border: none;
    background-color: #4a4a4a;
    color: red;
    display: inline-block;
    width: 100px;
}
/******** / FOOTER ********/